.jumbotron{background-color:  #E9ECEF;text-align: center;
height: 100vh;}

.h4 {
    color: orange;
}
.about  {color: orchid;}
.contact{
    color: orange;
}
.makale{text-align: left;}
.product{color: orchid;}